---
title:
---

<h1 class="text-center">Testing Bootsrap</h1>
<a href="#" class="button-test btn btn-primary"><i class="fab fa-font-awesome"></i>Click me</a>
<i class="fas fa-camera"></i>
<i class="fab fa-font-awesome"></i>
<i class="fab fa-facebook-f"></i>
